{% extends 'html/index.html' %}

{% block title %}

    Nos activitées

{% endblock%}

	{% load static %}
{% block style %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/styleee.css' %}">

{% endblock%}

{% block contend %}
        <div class="enfant2"></div>

        <h3>NOS ACTIVITES</h3>

        <div class="centre">
           <div class="text-centre">
            <span>CABINET BAMBA</span> offre ses services dans le domaine de l’expertise immobilière et du conseil, qu’il s’agisse de lots ou d’immeubles isolés ou de portefeuilles immobiliers. <span>CABINET BAMBA</span> adapte ses prestations et apporte des solutions et un suivi personnalisé à chacun de ses clients, souvent dans le long terme. Nous intervenons notamment sur des biens atypiques ou originaux aux problématiques complexes (cinémas, hôtels, usines spécialisées, théâtres, centres commerciaux, châteaux, baux à long terme, locaux monovalents) et nous nous voulons créatifs et réceptifs sur ces cas.
           </div>
    
           <div class="img-centre">
            <div class="diaporama"><h4>Surveillance, contrôle et coordination de travaux de construction</h4></div>
            <div class="diaporama1"><h4>Surveillance, contrôle et coordination de travaux de construction</h4></div>
            <div class="diaporama2"><h4>Surveillance, contrôle et coordination de travaux de construction</h4></div>
            <div class="diaporama3"><h4>Surveillance, contrôle et coordination de travaux de construction</h4></div>


            <div class="diaporama-0"><h4>Surveillance, contrôle et coordination de travaux de construction</h4></div>
            <div class="diaporama1-1"><h4>Surveillance, contrôle et coordination de travaux de construction</h4></div>
            <div class="diaporama2-2"><h4>Surveillance, contrôle et coordination de travaux de construction</h4></div>
            <div class="diaporama3-3"><h4>Surveillance, contrôle et coordination de travaux de construction</h4></div>
           </div>
        </div>
  
    </div>
{% endblock %}