{% extends 'html/index.html' %}

{% block title %}

    Qui somme nous

{% endblock%}


{% load static%}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/stylee.css' %}">
{% endblock%}

{% block contend %}
        <div class="enfant2"></div>

    <h3>PRESENTATION</h3>

    <div class="centre">
        <div class="img-centre"></div>
    
        <div class="text-centre">
    <span>CABINET BAMBA </span>est un cabinet d’Etudes, Gestion et Expertises Immobilières. Nous répondons aux besoins d’une clientèle de particuliers, d’institutions et d’entreprises. Cabinet fondé en 1978 par Monsieur BAMBA MOUSSA, ingénieur Expert Immobilier Agrée près les Cours d’Appel et Tribunaux de Côte d’Ivoire. Le <span>CABINET BAMBA </span> est membre de l’Ordre des Experts Internationaux de Genève. Nous sommes particulièrement attachés au respect de la confidentialité de notre clientèle et ce, indépendamment de l’enjeu en cause.
    <span>CABINET BAMBA </span>, une expérience d’activités professionnelles confirmée depuis plus de 40 ans.
        </div>
        </div>
  
        
    </div>
    <div class="leader">
        <h3 class="titre1">CHEF DE CABINET</h3>

        <div class="leader-chef">
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe cum, eaque, dicta explicabo accusamus voluptatum deleniti odit omnis quos tempora inventore praesentium et at nihil corrupti architecto, sequi soluta quaerat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque natus, fugit tempore architecto reiciendis repellat rem labore ex quam possimus? Deserunt tempora provident aperiam iure quisquam commodi autem sed Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, incidunt? Eius, consectetur adipisci. Ullam dolore magni reprehenderit, a et minus neque? Praesentium quasi minima excepturi totam odit amet alias officii Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus explicabo iure adipisci in. Aperiam, dolorum dolores excepturi corporis nesciunt reiciendis ea eos voluptatibus id at molestiae ducimus. Architecto, voluptates minima.</vitae></p>
        <img src="{% static 'img/BUREAU-TECHNICIENS-1-1-800x600.jpg' %}" height="200" width="200">
        </div>

        <h3 class="titre2">NOS MEMBRES</h3>

        <div class="leader-img">
            <div><p>LAI BI</p></div>
            <div><p>NARCISE ADINGRA</p></div>
            <div><p>OUATTARA YEREGUEDIA JEAN</p></div>
            <div><p>LAI BI</p></div>
            <div><p>LAI BI</p></div>
            <div><p>OUATTARA YEREGUEDIA JEAN</p></div>
            <div><p>OUATTARA YEREGUEDIA JEAN</p></div>
            <div><p>NARCISE ADINGRA</p></div>
        </div>
    </div>

{% endblock %}