body{
  margin: 0;
  padding: 0;
  background:linear-gradient(to left, #fff0,#fff),center/cover no-repeat url("/static/img/berkeley-communications-WEDDt-u3q3o-unsplash.jpg");
  background-attachment:fixed
}

.enfant1 nav a:nth-child(4){
  background:#24bfff;

}

@media only screen and (max-width:1250px){
  .enfant1{
      position:absolute
  }
}

/*@media only screen and (max-width:1103px){
  .enfant1{
      position:relative
  }
}*/

@media only screen and (max-width:700px){


      .enfant1{
      height:600px;
      position:relative
  }

  .enfant1 nav{
      top:auto;
      left:75px;
      display:flex;
      flex-direction:column;
      position:absolute;
      left:200px;
      top:305px
  }

  .enfant1 nav a{
      display:flex;
      justify-content:center;
      font-size:25px;
     
  }

  .enfant1 img{
      width:100%;
      height:300px;
      position:absolute;top:0;
  }

}


@media only screen and (max-width:600px){

  .enfant1{
      position:relative;
  }
  .enfant1 nav a{
      display:flex;
     justify-content:center;

  }

  .enfant1 nav{
      position:absolute;
      left:155px
  }
}

@media only screen and (max-width:513px){
    .enfant1{
      position:relative;
  }
  .enfant1 nav a{
      display:flex;
     justify-content:center;

  }

  .enfant1 nav{
      position:absolute;
      left:112px
  }
}

@media only screen and (max-width:480px){
  .enfant1{
      position:relative;
  }
  .enfant1 nav a{
      display:flex;
     justify-content:center;

  }

  .enfant1 nav{
      position:absolute;
      left:95px
  }
}

@media only screen and (max-width:472px){
  .enfant1{
      position:relative;
  }
  .enfant1 nav a{
      display:flex;
     justify-content:center;

  }

  .enfant1 nav{
      position:absolute;
      left:90px
  }
}


@media only screen and (max-width:449px){
  .enfant1{
      position:relative;
  }
  .enfant1 nav a{
      display:flex;
     justify-content:center;

  }

  .enfant1 nav{
      position:absolute;
      left:80px
  }
}


@media only screen and (max-width:396px){
  .enfant1 nav{
      left:40px
  }

 .enfant1{
     position:relative
 }
}


@media only screen and (max-width:336px){
  .enfant1{
      position:relative;
  }
  .enfant1 nav a{
      display:flex;
     justify-content:center;
     white-space:nowrap

  }

  .enfant1 nav{
      position:absolute;
      left:1px
  }
}


@media only screen and (max-width:290px){

  .enfant1 nav{
      position:absolute;
      left:-3px
  }
}


.footer{
  height:50px;
  background:black;
  color:#b3b3b3;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:130px
}

.footer span{
  margin-left:5px;
  color:#29bdf9;

}

.grand-parents{
display:flex;
justify-content:center;
align-items:center;
height:500px;
position:relative;
top:100px;
}


.parents-icones{
height:500px;
width:600px;
position:absolute;
left:0;
}

.parents-icones #phone{
  position:absolute;
   top:130px;
  left:50px;
  height:70px;
  width:70px;
  background:#29bdf9;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:100px;
  color:#fff;
  transition:1s
}

#phone:hover{
  background:black;
  color:#29bdf9;
  transition:1s
}

.parents-icones #maps{
    position:absolute;
  top:280px;
  left:50px;
  height:70px;
  width:70px;
  background:#29bdf9;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:100px;
  color:#fff;
  transition:1s
}

.parents-icones #mail{
  position:absolute;
  top:425px;
  left:50px;
  height:70px;
  width:70px;
  background:#29bdf9;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:100px;
  color:#fff;
  transition:1s
}

  #maps:hover{
  background:black;
  color:#29bdf9;
  transition:1s
}

.parents-icones .text-phone{
  position:absolute;
  top:120px;
  left:125px;
  font-family:sans-serif;
  font-size:15px;
}

.text-phone span{
  font-weight:600
}

.parents-icones .text-maps{
  position:absolute;
  top:270px;
  left:125px;
  font-family:sans-serif;
  font-size:15px;
}

.text-maps span{
  font-weight:600;
}

.parents-icones .text-mail{
  position:absolute;
   top:415px;
  left:125px;
  font-family:sans-serif;
  font-size:15px;
}

.text-mail span{
  font-weight:600
}

  #mail:hover{
  background:black;
  color:#29bdf9;
  transition:1s
}


.form-parent{
height:500px;
width:600px;
position:absolute;
right:0;
}

.form{
display:flex;
flex-direction:column;
text-align:center;
}

.form input{
margin-bottom:30px;
height:40px;
padding-left:15px;
border:none;
width:595px;
border-radius:2px;
background:#ffffff6e
}

.form textarea{
height:200px;
padding-left:15px;
width:595px;
border:none;
border-radius:2px
}

.form input[type="submit"]{
width:100px;
margin-left:490px;
margin-top:10px;
border:none;
background:#29bdf9;
color:#fff;
outline:none;
cursor:pointer

}

form h3{
font-family:sans-serif;
font-size:20px;
color:white
}





/*responsive*/
@media only screen and (max-width:1206px){

  body{
background:#272727a8;
}
.parents-icones{
background:#232323c9
}
.grand-parents{
display:flex;
justify-content:center;
align-items:center;
height:700px;
position:relative;
top:100px;
flex-direction:column-reverse
}


.parents-icones{
width:1150px;
position:static;
margin-top:10px
}

.parents-icones #phone{
  top:500px;
  height:100px;
  width:100px;
  left:100px
}

.parents-icones .text-phone{
  top:600px;
  left:55px;
  width:200px;
  font-size:17px;
  color:#fff
}

.text-phone span{
  margin-left:65px
}

.parents-icones #maps{
  top:500px;
  left:542px;
  height:100px;
  width:100px
}
 
.parents-icones .text-maps{
   top:600px;
  left:455px;
  font-size:17px;
  color:#fff
}

.text-maps span{
  margin-left:98px
}

.parents-icones #mail{
  top:500px;
  left:1000px;
  height:100px;
  width:100px
}

.parents-icones .text-mail{
  top:600px;
  left:950px;
  width:200px;
  font-size:17px;
  color:#fff
}

.text-mail span{
  margin-left:80px
}

  .form-parent{
height:500px;
width:1150px;
position:static;

}

.form{
 align-items:center;
};

.form h3{
font-size:25px
}

.form input{
  width:700px;
  font-size:17px;
  margin-top:-10px;
  height:50px;
  background:white
}

.form textarea{
  width:700px;
  font-size:17px
}

.form input[type="submit"]{
  position:absolute;
  top:415px;
  right:150px
}

}

@media only screen and (max-width:1206px){
.footer{
  margin-top:414px
}
}


@media only screen and (max-width:995px){
.footer{
  margin-top:150px
}
}

@media only screen and (max-width:1175px){

.form-parent{
  margin-top:-20px
}

  .parents-icones #phone{
  top:500px;
  height:100px;
  width:100px;
  left:150px;
}

.parents-icones .text-phone{
  top:600px;
  width:200px;
  font-size:17px;
  left:105px
}

.text-phone span{
  margin-left:65px
}

.parents-icones #maps{
  top:500px;
  left:542px;
  height:100px;
  width:100px
}
 
.parents-icones .text-maps{
   top:600px;
  left:455px;
  font-size:17px
}

.text-maps span{
  margin-left:98px
}

.parents-icones #mail{
  top:500px;
  left:900px;
  height:100px;
  width:100px
}

.parents-icones .text-mail{
  top:600px;
  left:850px;
  width:200px;
  font-size:17px
}

.text-mail span{
  margin-left:80px
}

}

@media only screen and (max-width:1146px){
  .parents-icones{
height:200px;
width:1000px;
 position:static
}

.form-parent{
height:500px;
width:1000px;
position:static

}

.form input[type="submit"]{
  left:440px
}
}

@media only screen and (max-width:1125px){
  .parents-icones #phone{
  top:500px;
  height:100px;
  width:100px;
  left:155px
}

.parents-icones .text-phone{
  top:600px;
  left:110px;
  width:200px;
  font-size:17px
}

.text-phone span{
  margin-left:65px
}

.parents-icones #maps{
  top:500px;
  left:502px;
  height:100px;
  width:100px
}
 
.parents-icones .text-maps{
   top:600px;
  left:409px;
  font-size:17px
}

.text-maps span{
  margin-left:98px
}

.parents-icones #mail{
  top:500px;
  left:850px;
  height:100px;
  width:100px
}

.parents-icones .text-mail{
  top:600px;
  left:800px;
  width:200px;
  font-size:17px
}

.text-mail span{
  margin-left:80px
}

}

@media only screen and (max-width:1065px){
  .form input[type="submit"]{
  left:400px
}
}

@media only screen and (max-width:1028px){
  .parents-icones #phone{
  top:500px;
  height:100px;
  width:100px;
  left:100px
}

.parents-icones .text-phone{
  top:600px;
  left:55px;
  width:200px;
  font-size:17px
}

.text-phone span{
  margin-left:65px
}

.parents-icones #maps{
  top:500px;
  left:450px;
  height:100px;
  width:100px
}
 
.parents-icones .text-maps{
   top:600px;
  left:358px;
  font-size:17px
}

.text-maps span{
  margin-left:98px
}

.parents-icones #mail{
  top:500px;
  left:820px;
  height:100px;
  width:100px
}

.parents-icones .text-mail{
  top:600px;
  left:770px;
  width:200px;
  font-size:17px
}

.text-mail span{
  margin-left:80px
}

}

@media only screen and (max-width:997px){
.parents-icones{
  width:900px;
}

.form-parent{
 width:900px
}

.parents-icones #mail{
  top:500px;
  left:780px;
  height:100px;
  width:100px
}

.parents-icones .text-mail{
  top:600px;
  left:730px;
  width:200px;
  font-size:17px
}
}

@media only screen and (max-width:898px){
  .parents-icones{
  width:800px;
}

.form-parent{
 width:800px
}

@media only screen and (max-width:798px){
    .parents-icones{
  width:700px;
}

.form-parent{
 width:700px
}
}
}

@media only screen and (max-width:698px){
  .parents-icones{
  width:600px;
}

.form-parent{
 width:600px
}
}

@media only screen and (max-width:600px){
  .parents-icones{
  width:500px;
}

.form-parent{
 width:500px
}
}

/*******/

@media only screen and (max-width:995px){


.grand-parents{
  height:1100px;
}

.parents-icones{
  height:1100px;
  margin-top:20px;
}

.parents-icones #maps{
  top:512px
}

.parents-icones #phone{
  top:710px;
  left:450px
}

.parents-icones .text-phone{
  top:800px;
  left:400px
}

.parents-icones #mail{
  top:905px;
  left:450px
}

.parents-icones .text-mail{
  top:1000px;
  left:400px
}

.form input[type="submit"]{
 left:360px
}
}

@media only screen and (max-width:953px){
  .form input[type="submit"]{
 left:340px
}
}

@media only screen and (max-width:934px){
  .form input[type="submit"]{
 top:482px;
 left:225px
}
}

@media only screen and (max-width:818px){
    .form input[type="submit"]{
 top:482px;
 left:170px
}


  .parents-icones #maps{
  top:512px;
  left:360px
}

.parents-icones .text-maps{
  left:275px
}

.parents-icones #phone{
  top:710px;
  left:360px
}

.parents-icones .text-phone{
  top:800px;
  left:315px
}

.parents-icones #mail{
  top:905px;
  left:360px
}

.parents-icones .text-mail{
  top:1000px;
  left:310px
}
}

@media only screen and (max-width:763px){
 .form input[type="submit"]{
 top:482px;
 left:140px
}
}

@media only screen and (max-width:734px){
 .form input[type="submit"]{
 top:482px;
 left:122px
}


  .parents-icones #maps{
  top:512px;
  left:320px
}

.parents-icones .text-maps{
  left:233px
}

.parents-icones #phone{
  left:320px
}

.parents-icones .text-phone{
  top:800px;
  left:280px
}

.parents-icones #mail{
  top:905px;
  left:320px
}

.parents-icones .text-mail{
  top:1000px;
  left:270px
}
}


@media only screen and (max-width:713px){
.form input{
  width:600px
}

.form textarea{
  width:600px
}

   .form input[type="submit"]{
 top:482px;
 left:65px
}
}

@media only screen and (max-width:657px){
 .form input[type="submit"]{
 top:482px;
 left:40px
}
}

@media only screen and (max-width:629px){
 .form input[type="submit"]{
 top:482px;
 left:22px
}
}

@media only screen and (max-width:614px){
.form input{
  width:500px
}

.form textarea{
  width:500px
}

 .form input[type="submit"]{
 top:482px;
 left:-33px
}

    .parents-icones #maps{
  top:512px;
  left:250px
}

.parents-icones .text-maps{
  left:160px
}

.parents-icones #phone{
  left:250px
}

.parents-icones .text-phone{
  top:800px;
  left:210px
}

.parents-icones #mail{
  top:905px;
  left:250px
}

.parents-icones .text-mail{
  top:1000px;
  left:200px
}
}

@media only screen and (max-width:558px){
   .form input[type="submit"]{
 top:482px;
 left:-60px
}

    .parents-icones #maps{
  top:512px;
  left:230px
}

.parents-icones .text-maps{
  left:140px
}

.parents-icones #phone{
  left:230px
}

.parents-icones .text-phone{
  top:800px;
  left:188px
}

.parents-icones #mail{
  top:905px;
  left:230px
}

.parents-icones .text-mail{
  top:1000px;
  left:180px
}
}

@media only screen and (max-width:535px){
  .form input{
  width:400px
}

.form textarea{
  width:400px
}

 .form input[type="submit"]{
 top:482px;
 left:-130px
}

  .parents-icones{
  width:450px;
}

.form-parent{
  width:450px
}

}

@media only screen and (max-width:500px){
      .parents-icones #maps{
  top:512px;
  left:200px
}

.parents-icones .text-maps{
  left:115px
}

.parents-icones #phone{
  left:200px
}

.parents-icones .text-phone{
  top:800px;
  left:160px
}

.parents-icones #mail{
  top:905px;
  left:200px
}

.parents-icones .text-mail{
  top:1000px;
  left:150px
}
}

@media only screen and (max-width:458px){

  .form-parent{
    width:auto
  }

   .form input[type="submit"]{
 top:460px;
 left:-150px;
 height:30px;
 width:90px;

}

.parents-icones{
  width:400px
}


.parents-icones #maps{
  top:512px;
  left:170px
}


.parents-icones .text-maps{
  left:70px
}

.parents-icones #phone{
  left:170px
}

.parents-icones .text-phone{
  top:800px;
  left:120px
}

.parents-icones #mail{
  top:905px;
  left:170px
}

.parents-icones .text-mail{
  top:1000px;
  left:110px
}
}

@media only screen and (max-width:430px){
     .form input[type="submit"]{
 top:460px;
 left:-170px;
 height:30px;
 width:90px;

}

.footer{
  font-size:14px
}
}

@media only screen and (max-width:381px){
  .footer{
  font-size:11px
}
}

@media only screen and (max-width:410px){
  .form input{
    width:300px
  }

 .form textarea{
   width:300px
 }

  .parents-icones{
    width:300px
  }


.parents-icones #maps{
  top:512px;
  left:160px;
  height:80px;
  width:80px
}


.parents-icones .text-maps{
  left:100px;
  font-size:12px
}

.parents-icones .text-maps span{
  margin-left:70px
}

.parents-icones #phone{
  left:160px;
  height:80px;
  width:80px;
}

.parents-icones .text-phone{
  top:800px;
 font-size:12px;
 left:115px
}

.parents-icones #mail{
  top:905px;
  left:160px;
  height:80px;
  width:80px
}

.parents-icones .text-mail{
  top:1000px;
  left:130px;
  font-size:12px
}

.parents-icones .text-mail span{
  margin-left:50px
}

     .form input[type="submit"]{
 top:460px;
 left:-227px;
 height:30px;
 width:90px;

}
}


@media only screen and  (max-width:382px){
  .footer{
    font-size:11px
  }
}

@media only screen and  (max-width:300px){
  .footer{
    font-size:9px
  }
}



@media only screen and (max-width:366px){
  .parents-icones #maps{
  top:512px;
  left:120px;
  height:80px;
  width:80px
}


.parents-icones .text-maps{
  left:60px;
  font-size:12px;
}

.parents-icones .text-maps span{
  margin-left:70px
}

.parents-icones #phone{
  left:120px;
  height:80px;
  width:80px;
}

.parents-icones .text-phone{
  top:800px;
 font-size:12px;
 left:70px
}

.parents-icones #mail{
  top:905px;
  left:120px;
  height:80px;
  width:80px
}

.parents-icones .text-mail{
  top:1000px;
  left:90px;
  font-size:12px
}

.parents-icones .text-mail span{
  margin-left:50px
}

     .form input[type="submit"]{
 top:460px;
 left:-247px;
 height:30px;
 width:90px;

}
}

@media only screen and (max-width:308px){
  .parents-icones .text-maps{
  left:60px;
  font-size:12px;
  width:220px
}

}

@media only screen and (max-width:335px){
       .form input[type="submit"]{
 top:460px;
 left:-262px;
 height:30px;
 width:90px;

}
}


@media only screen and (max-width:318px){
       .form input[type="submit"]{
 top:460px;
 left:-272px;
 height:30px;
 width:90px;

}
}

@media only screen and (max-width:306px){
  .form input{
    width:260px
  }

  .form textarea{
    width:260px
  }

  .form h3{
    font-size:20px
  }

.form input[type="submit"]{
 top:460px;
 left:-290px;
 height:30px;
 width:90px;

}

.parents-icones{
  width:270px
}


}


@media only screen and (max-width:302px){
  .parents-icones .text-maps{
  left:50px;
  font-size:12px
}

.form input[type="submit"]{
 top:445px;
 left:-300px;
 height:30px;
 width:90px;

}
}

@media only screen and (max-width:289px){
.form input[type="submit"]{
 top:445px;
 left:-315px;
 height:30px;
 width:90px;

}
}


@media only screen and (max-width:295px){

 .parents-icones{
    width:250px
  }
.parents-icones .text-maps{
  left:60px;
  font-size:12px;
  width:200px
}

.parents-icones .text-maps span{
  margin-left:70px
}

.parents-icones #phone{
  left:120px;
  height:80px;
  width:80px;
}

.parents-icones .text-phone{
  top:800px;
 font-size:12px;
 left:70px
}

.parents-icones #mail{
  top:905px;
  left:120px;
  height:80px;
  width:80px
}

.parents-icones .text-mail{
  top:1000px;
  left:90px;
  font-size:12px
}

.parents-icones .text-mail span{
  margin-left:50px
}

}

@media only screen and (max-width:290px){
    .form input{
    width:260px
  }

   .form textarea{
     width:260px
   }

     .parents-icones #maps{
  top:512px;
  left:100px;
  height:80px;
  width:80px
}

.parents-icones .text-maps{
  left:50px;
  font-size:12px;
  width:200px
}

.parents-icones .text-maps span{
  margin-left:60px
}

.parents-icones #phone{
  left:100px;
  height:80px;
  width:80px;
}

.parents-icones .text-phone{
  top:800px;
 font-size:12px;
 left:55px;
 width:200px
}

.parents-icones #mail{
  top:905px;
  left:100px;
  height:80px;
  width:80px
}

.parents-icones .text-mail{
  top:1000px;
  left:75px;
  font-size:12px;
  width:auto
}

.parents-icones .text-mail span{
  margin-left:50px
}

}



